window.__LOGIGATE_CONFIG__ = {
  VITE_USE_FIREBASE: "${VITE_USE_FIREBASE}",
  VITE_VIRTUAL_GATE: "${VITE_VIRTUAL_GATE}",
  VITE_FIREBASE_API_KEY: "${VITE_FIREBASE_API_KEY}",
  VITE_FIREBASE_AUTH_DOMAIN: "${VITE_FIREBASE_AUTH_DOMAIN}",
  VITE_FIREBASE_DATABASE_URL: "${VITE_FIREBASE_DATABASE_URL}",
  VITE_FIREBASE_PROJECT_ID: "${VITE_FIREBASE_PROJECT_ID}",
  VITE_FIREBASE_APP_ID: "${VITE_FIREBASE_APP_ID}",
  VITE_AUTH_ADMIN_DELETE_URL: "${VITE_AUTH_ADMIN_DELETE_URL}",
  VITE_ACCESS_POINT: "${VITE_ACCESS_POINT}"
}
